// Global styles

#app {
	font-size: 18px;
	font-family: 'Raleway', 'Roboto', sans-serif;
	font-weight: normal;
}

.bg-primary-gradient {
	@apply bg-gradient-to-br from-primary-700 to-primary-900;
}

.z-9999 {
	z-index: 9999;
}
