// Global styles

#app {
	font-size: 18px;
	font-family: 'Raleway', 'Roboto', sans-serif;
	font-weight: normal;
}

.bg-primary-gradient {
	background: linear-gradient(135deg, #003180 0%, #001940 93%) no-repeat;
}
